header {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header a {
  font-size: 100px;
  color: white;
  opacity: 0.6;
  text-decoration: none;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-inline: 10%;
  margin-top: 160px;
}

.content * {
  width: fit-content;
  padding-inline: 20px;
  margin: 0;
}
.content h1 {
  margin-bottom: 10px;
  font-size: 100px;
}
.content p {
  opacity: 0.85;
  font-size: 30px;
}
@media screen and (max-width: 500px) {
  .content h1 {
    font-size: 90px;
  }
  .content p {
    font-size: 20px;
  }
}
@media screen and (max-width: 390px) {
  .content h1 {
    font-size: 70px;
  }
  .content p {
    font-size: 20px;
  }
}
