.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10vh;
  overflow: hidden;
  margin-bottom: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Opacity for the background image */
  z-index: -1; /* Keep the pseudo-element behind content */
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-inline: 10%;
}

.content * {
  width: fit-content;
  padding-inline: 20px;
  /* border: solid black 3px; */
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* border-radius: 70px; */
}
.content h1 {
  margin-bottom: 10px;
  font-size: 100px;
}
.content p {
  opacity: 0.85;
  font-size: 30px;
}
@media screen and (max-width: 500px) {
  .content h1 {
    font-size: 90px;
  }
  .content p {
    font-size: 20px;
  }
}
@media screen and (max-width: 390px) {
  .content h1 {
    font-size: 70px;
  }
  .content p {
    font-size: 20px;
  }
}
