* {
  margin: 0;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, #af90f8, #450bca, #220565);
  background-attachment: fixed;
  font-family: Monospace;
}

a {
  text-decoration: none;
}

/* * {
  border: 1px, solid red;
} */
